fastapi~=0.115.12
uvicorn~=0.34.0
python-socketio~=5.12.1
websockets
pinecone~=6.0.2
sentence-transformers~=4.0.1
transformers
motor~=3.7.0
torch
pillow
python-dotenv~=1.0.1
pydantic~=2.10.6
pyjwt
bcrypt~=4.3.0
pymongo~=4.11.3